@model IEnumerable<Market.ViewModels.UserView>


@{
    ViewBag.Title = "Index";
}

<h2>Permisions Manager</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
            <td>
                @Html.ActionLink("Roles", "Roles", new { UserID = item.UserID }) |
               
            </td>
        </tr>
    }

</table>



